.header{
	width: 100%;
	color: #fff;
	background-image: linear-gradient(#0575e6, #021b79,transparent), url(../bg.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
.header .row{
	padding: 10% 0;
}

.text-box{
	margin-top: 15%;
	margin-bottom: 5%;
}
.text-box {
	margin-bottom: 35px;
}

.text-box .link{
	padding: 12px 30px;
	background-color: #021b79;
	color: #fff;
	border-radius: 0px;
	border: none;
}

.text-box .link:hover{
	background-color: #fff;
	color: #021b79;
}

.main-form{
	width: 350px;
	background-color: #fff;
	margin:10px auto;
	border-radius: 3px;
}













